.btn-group a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
}
.btn-group a:hover {
    color: #fff;
}
.logo {
    width: 180px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end !important;
    max-width: 1200px;
    margin: auto;
}
.header {
    background-color: rgba(0, 0, 0, 0.2);
}

.main {
    max-width: 1200px;
    margin: auto;
    display: flex;
}
.menu-infor {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.fa {
    color: rgb(220, 53, 69);
    text-align: center;
    display: block !important;
    font-size: 20px !important;
    font-weight: 700 !important;
    margin: 10px;
    padding: 10px;
}
.fa::before {
    padding: 10px !important;
}
.menu-infor button {
    border: 1px solid #e2e2e2;
    border-top: none;
    padding: 10px;
    background-color: #f8f8f8;
    text-align: left;
    display: flex;
    align-items: center;
}
.menu-infor svg {
    font-size: 20px;
    margin: 10px;
    color: #16005f;
}
.menu-infor p:first-child {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
}
.menu-infor p:last-child {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}
.infor {
    width: 60%;
    border: 1px solid #e2e2e2;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}
.footer-right {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.footer-right li {
    list-style-type: none;
}
.footer-right a {
    text-decoration: none;
    padding-left: 20px;
}
@media only screen and (max-width: 1200px) {
    .header,
    .footer {
        padding: 0 20px;
    }
}
@media only screen and (max-width: 600px) {
    .menu-infor p {
        display: none;
    }
    .menu-infor {
        width: 20%;
    }
    .infor {
        width: 80%;
    }
    .menu-infor button {
        justify-content: center;
        align-items: center;
    }
    .footer {
        display: block;
    }
    .footer-right a {
        padding: 0;
    }
}
